.idea/
.vscode/
cmake-build-debug/
cmake-build-release/
cmake-build-debug-client/
cmake-build-debug-server/
cmake-build-release-client/
cmake-build-release-server/
cmake-build-remote-debug-client/
cmake-build-remote-debug-server/
cmake-build-remote-release-client/
cmake-build-remote-release-server/
*.com
*.class
*.dll
*.exe
*.o
*.so
ltype_game_*
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
build/
cmake-variants.json
compile_commands.json
.cmake/
log.txt
*ninja*